* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  width:1050px;
  height: 200px;
  text-size:10px;
  background: #0000FF;
  color: yellow;
} 

/* Increase the font size of the heading */
.header h1 {
  font-size: 60px;
  
}
.header p{
	font-size:20px;
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar
{
	padding: 20px;
    text-align: center;
	background:rgb(0,0,0);
	width:1050px;
	height:100px;
	text-align:center;
}
.navbar ul
{
	padding: 20px;
    text-align: center;
	display:block;
	margin:0 auto;
	width:fit-content;
	list-style:none;
	color:#000000;
}
.navbar ul li
{
	padding: 20px;
    text-align: center;
	display:inline-block;
    float:left;
    list-style:none;
    padding:0 16px;
	height:50px;
}
.navbar ul li a
{
	padding: 20px;
    text-align: center;
	text-decoration:none;
	color:#FFFFFF;
}
.active , .navbar ul li:hover
{
	background:#00BFFF;
	border-radius:3px;
}
.navbar .fa
{
	margin-right:8px;
}
.sub-menu-1
{
	display:none;
}
.sub-menu-2
{
	display:none;
}
.navbar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:rgb(0,191,255);
	margin-top:15px;
	margin-left:-15px;
}
.navbar ul li:hover .sub-menu-1 ul
{
	display:block;
	margin:10px;
}
.navbar ul li:hover .sub-menu-1 ul li
{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;	
}
.navbar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom:none;
}
.navbar ul li:hover .sub-menu-1 ul li:hover
{
	color:#b2ff00;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.fontsize1 h3{
font-size:35px;
}
.fontsize1 li{
font-size:30px;
}
.fontsize1 ul,li{
line-height:50.8px;
}
.fontsize1 h2{
font-size:40px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 505px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.fakeimg1 img{
position:relative;
width:100%;
height:80%;
left:-20px;
top:+13px;
}
.fakeimg1 {
  background-color: #0000CD;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
 padding: 10px;
  width:1050px;
  text-align: left;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.main ,p.double {border-style: double;}